<app-nav></app-nav>
<form (submit)="editTester($event)">
    <div class="container">
      <div class="row topic">
        <div class="col-9">
          <div class="topic-page"><i class="material-icons" style="font-size: 48px;">recent_actors </i></div>
          <div class="topic-page">จัดการบัญชีผู้สมัครสอบ : <label class="size-label"> แก้ไขข้อมูลผู้สมัครสอบ</label></div>
        </div>
        <div class="col-3">
        </div>
      </div>
      <hr class="style-hr">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <md-card-content>
            <md-select placeholder="คำนำหน้านาม" required [ngModelOptions]="{standalone: true}" [(ngModel)]="selectPrename">
              <md-option *ngFor="let pn of pre_names" [value]="pn.value">
                {{ pn.viewValue }}
              </md-option>
            </md-select>
            <br/><br />
            <md-input-container>
              <input type="text" mdInput placeholder="ชื่อ" [value]="testerDataSource.tester_firstname" name="firstname" required>
            </md-input-container>
            <md-input-container>
              <input type="text" mdInput placeholder="นามสกุล" [value]="testerDataSource.tester_lastname" name="lastname" required>
            </md-input-container>
            <md-input-container>
              <input type="text" mdInput placeholder="หมายเลขประจำตัวประชาชน" [value] = "testerDataSource.tester_personal_code" name="id_code" required>
            </md-input-container>
            <md-select placeholder="เลือกระดับชั้นของนักเรียน"  [ngModelOptions]="{standalone: true}" [(ngModel)]="selectLevel"  [style.width]="'100%'">
                <md-option *ngFor="let level of levels" [value]="level.value" ng-selected="level.value === selectLevel? 'selected':''">
                    {{ level.viewValue }}
                </md-option>
            </md-select>
              <br /><br />
              <md-input-container>
                  <input type="text"  mdInput placeholder="หมายเลขโทรศัพท์" [value]="testerDataSource.tester_phone" name="mobile_phone" required>
                </md-input-container>
              </md-card-content><br />
              <section class="example-section">
                  <md-radio-group [(ngModel)]="selectType"  [ngModelOptions]="{standalone: true}" >
                    <md-radio-button class="example-margin" value="ในสังกัด">นักเรียนในสังกัด</md-radio-button>
                    <md-radio-button class="example-margin" value="นอกสังกัด">นักเรียนนอกสังกัด</md-radio-button>
                  </md-radio-group>
                </section>
              <hr><br />
          <div class="row">
            <div class="col-6">
              <button md-raised-button color="primary" style="width:100%"><i class="material-icons">edit</i>    แก้ไข</button>
            </div>
            <div class="col-6">
              <button md-raised-button routerLink='../../candidate' color="Secondary" style="width:100%"><i class="material-icons">cancel</i>   ยกเลิก</button>
            </div>
          </div>
        </div>
        <div class="col-md-3"></div>
      </div>
    </div>
  </form>