/* #div-footer{
    min-height: 200px;
} */
footer{
    color: white;
    font-family: SATIT;
    /* font-weight: bold; */
    bottom: 0;
  }
  footer a{
    color: #E3EBEB;
    font-family: SATIT;
    /* font-weight: bold; */
  }
  footer a:hover{
    color: white;
    font-family: SATIT;
    font-weight: bold;
    /* font-size: 1.105rem; */
  }
  h4{
      font-weight: bold;
  }
  a{
    text-decoration: none; 
  }
  .footer-middle{
     background: #3d6277;
     /* background-image: linear-gradient(-60deg, #F76628 0%, #E74D00 100%); */
     /* background: #DB4602; 
     background: -webkit-linear-gradient(to right, #FD743E, #E74D00);  
     background: linear-gradient(to right, #FD743E, #E74D00);  */
     /* background-image: linear-gradient(45deg, #FA6634 0%, #E74D00 100%); */
     background-image: linear-gradient(-120deg, #FD6D45 0%, #E74D00 100%);
    padding-top: 2em;
    color: white;
    bottom: 0;
  }
  /**Sub Navigation**/
  .subnavigation-container{
    background-image: linear-gradient(-60deg, #FF6464 0%, #f09819 100%);
  }
  .subnavigation .nav-link{
    color: white;
    font-weight: bold;
  }
  .subnavigation-container{
    text-align: center;
  }
  .subnavigation-container .navbar{
    display: inline-block;
    margin-bottom: -6px; /* Inline-block margin offffset HACK -Gilron */
  }
  .col-subnav a{
    padding: 1rem 1rem;
    color: white;
    font-weight: bold;
  }
  .col-subnav .active{
    border-top:5px solid orange;
   background: white;
    color: black;
  }
  /* hr.style-one {

    background-image: #ffffff;
  } */
.text{
      text-align: center;
      padding: 10px;
  }
  hr.style-two {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
  }
  hr.vertical{ 
    
      border:         0;
      background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
      height:         auto;
      width:          1px;       
  }
  .topic-footer{
    display: inline-block;
    vertical-align: middle;
    min-height: 5px;
  }