<footer class="mainfooter" role="contentinfo">
    <div class="footer-middle">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <!--Column1-->
                    <div class="footer-pad">
                        <h4><i class="material-icons">group_work</i> หน่วยงานที่เกี่ยวข้อง</h4>
                        <!-- <hr class="style-one"> -->
                        <address>
                            <ul class="list-unstyled">
                                <li><a href="http://www.nu.ac.th/" target="blank">» มหาวิทยาลัยนเรศวร</a></li>
                                <li><a href="http://www.edu.nu.ac.th/2005/" target="blank">» คณะศึกษาศาสตร์ มหาวิทยาลัยนเรศวร</a></li>
                                <li><a href="http://www.sci.nu.ac.th/science/" target="blank">» คณะวิทยาศาสตร์ มหาวิทยาลัยนเรศวร</a></li>
                                <li><a href="http://scius.most.go.th/" target="blank">» โครงการ วมว.</a></li>
                                <li><a href="http://www.satit.nu.ac.th/2016/files/upload/1457506118.pdf" target="blank">» ชมรมผู้ปกครองและครู</a></li>
                            </ul>
                        </address>
                    </div>
                    
                </div>
                <div class="col-md-4">
                    <!--Column1-->
                    <div class="footer-pad">
                        <h4><i class="material-icons">forum</i> ติดตามได้ที่</h4>
                        <ul class="list-unstyled">
                            <li><a target="blank" href="https://www.facebook.com/%E0%B9%82%E0%B8%A3%E0%B8%87%E0%B9%80%E0%B8%A3%E0%B8%B5%E0%B8%A2%E0%B8%99%E0%B8%A1%E0%B8%B1%E0%B8%98%E0%B8%A2%E0%B8%A1%E0%B8%AA%E0%B8%B2%E0%B8%98%E0%B8%B4%E0%B8%95%E0%B8%A1%E0%B8%AB%E0%B8%B2%E0%B8%A7%E0%B8%B4%E0%B8%97%E0%B8%A2%E0%B8%B2%E0%B8%A5%E0%B8%B1%E0%B8%A2%E0%B8%99%E0%B9%80%E0%B8%A3%E0%B8%A8%E0%B8%A7%E0%B8%A3-491873191000599/">» Facebook Fanpage โรงเรียน</a></li>
                            <li><a target="blank" href="https://www.facebook.com/NaeaNaewNUD/">» Facebook Fanpage งานแนะแนว</a></li>
                            <li><a target="blank" href="https://www.facebook.com/studentboardNUD/">» Facebook Fanpage คณะกรรมการนักเรียน</a></li>
                            <li><a target="blank" href="https://www.facebook.com/%E0%B9%82%E0%B8%84%E0%B8%A3%E0%B8%87%E0%B8%81%E0%B8%B2%E0%B8%A3-%E0%B8%A7%E0%B8%A1%E0%B8%A7-%E0%B8%A1%E0%B8%99%E0%B9%80%E0%B8%A3%E0%B8%A8%E0%B8%A7%E0%B8%A3-767153370060079/">» Facebook Fanpage โครงการ วมว.</a></li>
                        </ul>
                    </div>       
                </div>
                <div class="col-md-4">
                    <!--Column1-->
                    <div class="footer-pad">
                        <h4><i class="material-icons">perm_phone_msg</i> ติดต่อได้ที่</h4>
                        <ul class="list-unstyled">
                            <li>โรงเรียนมัธยมสาธิตมหาวิทยาลัยนเรศวร</li>
                            <li>เลขที่ 1 ถนนสนามบิน ตำบลในเมือง อำเภอเมือง </li>
                            <li>จังหวัดพิษณุโลก 65000</li>
                            <li>โทรศัพท์ 0-55378-306-10</li>
                            <li>โทรสาร 0-55378-305</li>
                            <li>หมายเลขประจำตัวผู้เสียภาษี : 099-4-00047788-1</li>
                        </ul>
                    </div>
                </div>
            </div>
            <hr class="style-two">
            <div class="row">
                <div class="col-12 text">
                    <label>&copy; Copyright 2017 - โรงเรียนมัธยมสาธิตมหาวิทยาลัยนเรศวร, Inc. All rights reserved.</label>
                </div>
            </div>
        </div>
    </div>
</footer>