<app-nav></app-nav>
<form>
  <div class="container">
    <div class="row topic">
      <div class="col-9">
        <div class="topic-page"><i class="material-icons" style="font-size: 48px;">store </i></div>
        <div class="topic-page">ห้องสอบ : <label class="size-label"> แก้ไขข้อมูลห้องสอบ</label></div>
      </div>
      <div class="col-3">
      </div>
    </div>
    <hr class="style-hr">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <md-card-content>
          <md-select placeholder="เลือกอาคารสอบ" [(ngModel)]="selectSchool" [ngModelOptions]="{standalone: true}" [style.width]="'100%'">
            <md-option *ngFor="let building of buildings" [value]="building.value">
              {{ building.viewValue }}
            </md-option>
          </md-select>
          <br /><br />
          <md-input-container>
            <input type="text" mdInput placeholder="ชื่อห้องสอบ" name="room_name" required>
          </md-input-container>
          <md-input-container>
            <input type="text" mdInput placeholder="รองรับที่นั่งสอบจำนวน" name="support_total" required>
          </md-input-container>
        </md-card-content>
        <br />
        <br />
        <div class="row">
          <div class="col-6">
            <button md-raised-button color="primary" style="width:100%"><i class="material-icons">edit</i>    แก้ไข</button>
          </div>
          <div class="col-6">
            <button md-raised-button routerLink='../../room' color="Secondary" style="width:100%"><i class="material-icons">cancel</i>   ยกเลิก</button>
          </div>
        </div>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>
</form>