<app-nav></app-nav>
<form>
    <div class="container">
        <div class="row topic">
            <div class="col-9">
                <div class="topic-page"><i class="material-icons" style="font-size: 48px;">group_add </i></div>
                <div class="topic-page">กรรมการคุมสอบ : <label class="size-label"> ข้อมูลกรรมการคุมสอบ</label></div>
            </div>
            <div class="col-lg-3">
            </div>
        </div>
        <hr class="style-hr">
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <br />
                <md-card-content>
                    <div class="row">
                        <div class="col-4" align="right"><label class="style-label">ชื่อ - นามสกุล</label></div>
                        <div class="col-2"><label>:</label></div>
                        <div class="col-6"><span>{{ name }}</span></div>
                    </div>
                    <div class="row">
                        <div class="col-4" align="right"><label class="style-label">กรรมการคุมสอบห้อง </label></div>
                        <div class="col-2"><label>:</label></div>
                        <div class="col-6"><span>{{ room }}</span></div>
                    </div>
                    <div class="row">
                        <div class="col-4" align="right"><label class="style-label">คุมสอบที่อาคาร </label></div>
                        <div class="col-2"><label>:</label></div>
                        <div class="col-6"><span>{{ building }}</span></div>
                    </div>
                    
                    <hr>
                    <div class="row">
                        <div class="col-12">
                            <button md-raised-button routerLink='../../committee' color="primary" style="width:100%"><i class="material-icons"><i class="material-icons">arrow_back</i></i>    กลับ</button>
                        </div>
                    </div>
                </md-card-content>
            </div>
            <div class="col-lg-3"></div>
        </div>
    </div>
</form>