<app-nav></app-nav>
<div class="container">
  <div class="row topic">
    <div class="col-9">
      <span class="topic">
              <div class="topic-page">
                <i class="material-icons" style="font-size: 48px;">view_quilt</i>
                </div> 
                <div class="topic-page"> สารสนเทศโครงการ
                  </div>
                </span>
    </div>
    <div class="col-lg-3">

    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-12">
      <h1 class="text-center"><span> ยินดีต้อนรับ</span></h1>
      <h3 class="text-center">โครงการทดสอบความรู้สำหรับนักเรียนชั้นประถมศึกษาตอนปลาย (ป.4 - ป.6)</h3>
      <h3 class="text-center">โรงเรียนมัธยมสาธิตมหาวิทยาลัยนเรศวร</h3>
    </div>
  </div>
  <div class="row">
    <!-- <div class="col-md-8">
      <md-card>
        <md-card-title>สารสนเทศศูนย์สอบ</md-card-title>
        <md-card-content>
          <div>
              <!-- <canvas id="myChart" width="400" height="250"></canvas> 
          </div>
        </md-card-content>
      </md-card>
    </div> -->
    <div class="col-md-4">
      <md-card>
        <md-card-title>อัพโหลดหลักฐานการโอนเงิน</md-card-title>
        <md-card-subtitle>ให้ศูนย์สอบดาวน์โหลดแบบรายงานการโอนเงินแล้วกรอกข้อมูลต่างๆให้ครบ จากนั้นติดหลักฐานการโอนเงินที่แบบรายงานการโอนเงินแล้วแสกนเอกสารเป็นไฟล์รูปภาพ หรือ PDF แล้วอัพโหลดเข้าระบบจัดการข้อมูลโครงการ NUD PREP TEST</md-card-subtitle>
        <md-card-content id="card-content-btn">
            <a href='http://www.satit.nu.ac.th/2016/files/upload/1507622800.pdf' md-button>
              <i class="material-icons">assignment</i> แบบรายงานการโอนเงิน
            </a>
            <a href='http://www.satit.nu.ac.th/NUDPrepTestBackEnd/index.php' md-button>
              <i class="material-icons">launch</i> อัพโหลดหลักฐานการโอนเงิน
            </a>
        </md-card-content>
      </md-card>
    </div>
  </div>