<app-nav></app-nav>
<form>
    <div class="container">
        <div class="row topic">
            <div class="col-9">
                <div class="topic-page"><i class="material-icons" style="font-size: 48px; margin-bottom: -10px;">recent_actors </i></div>
                <div class="topic-page">จัดการบัญชีผู้สมัครสอบ : <label class="size-label"> ข้อมูลผู้สมัครสอบ</label></div>
            </div>
            <div class="col-lg-3">
            </div>
        </div>
        <hr class="style-hr">
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <br />
                <md-card-content>
                    <div class="row">
                        <div class="col-4" align="right"><label class="style-label">เลขประตัวประชาชน </label></div>
                        <div class="col-2"><label>:</label></div>
                        <div class="col-6"><span></span></div>
                    </div>
                    <div class="row">
                        <div class="col-4" align="right"><label class="style-label">ชื่อ - นามสกุล </label></div>
                        <div class="col-2"><label>:</label></div>
                        <div class="col-6"><span></span></div>
                    </div>
                    <div class="row">
                        <div class="col-4" align="right"><label class="style-label">ระดับชั้น </label></div>
                        <div class="col-2"><label>:</label></div>
                        <div class="col-6"><span></span></div>
                    </div>
                    <div class="row">
                        <div class="col-4" align="right"><label class="style-label">โรงเรียน </label></div>
                        <div class="col-2"><label>:</label></div>
                        <div class="col-6"><span></span></div>
                    </div>
                    <div class="row">
                        <div class="col-4" align="right"><label class="style-label">สังกัด </label></div>
                        <div class="col-2"><label>:</label></div>
                        <div class="col-6"><span></span></div>
                    </div>
                    <div class="row">
                        <div class="col-4" align="right"><label class="style-label">หมายเลขโทรศัพท์ </label></div>
                        <div class="col-2"><label>:</label></div>
                        <div class="col-6"><span></span></div>
                    </div>
                    <div class="row">
                        <div class="col-4" align="right"><label class="style-label">รหัสประจำตัวผู้สอบ </label></div>
                        <div class="col-2"><label>:</label></div>
                        <div class="col-6"><span></span></div>
                    </div>
                    <div class="row">
                        <div class="col-4" align="right"><label class="style-label">เลขที่นั่งสอบ </label></div>
                        <div class="col-2"><label>:</label></div>
                        <div class="col-6"><span></span></div>
                    </div>
                    <div class="row">
                        <div class="col-4" align="right"><label class="style-label"> ห้องสอบ</label></div>
                        <div class="col-2"><label>:</label></div>
                        <div class="col-6"><span></span></div>
                    </div>
                    <div class="row">
                        <div class="col-4" align="right"><label class="style-label">อาคารสอบ </label></div>
                        <div class="col-2"><label>:</label></div>
                        <div class="col-6"><span></span></div>
                    </div>
                    <div class="row">
                        <div class="col-4" align="right"><label class="style-label">สนามสอบ </label></div>
                        <div class="col-2"><label>:</label></div>
                        <div class="col-6"><span></span></div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-6">
                            <button md-raised-button routerLink='../../candidate' color="primary" style="width:100%"><i class="material-icons"><i class="material-icons">arrow_back</i></i>    กลับ</button>
                        </div>
                        <div class="col-6">
                            <button md-raised-button style="background-color:#1abc9c;color:#ffffff;width:100%"><i class="material-icons">print</i>  พิมพ์</button>
                        </div>
                    </div>
                </md-card-content>
            </div>
            <div class="col-lg-3"></div>
        </div>
    </div>
</form>