<app-nav></app-nav>
<form (submit)="submitCreateuser($event)">
  <div class="container">
    <div class="row topic">
      <div class="col-9">
        <i class="material-icons" style="font-size: 48px;">recent_actors </i> จัดการบัญชีผู้ใช้ : <label class="size-label"> สร้างบัญชีผู้ใช้</label>
      </div>
      <div class="col-3">
      </div>
    </div>
    <hr class="style-hr">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <md-card-content>
          <md-input-container>
            <input type="text" mdInput placeholder="Username" name="username" required>
          </md-input-container>
          <md-input-container>
            <input type="text" mdInput placeholder="Password" name="password" required>
          </md-input-container>
          <md-select placeholder="คำนำหน้านาม" required name="prename" [ngModelOptions]="{standalone: true}" [(ngModel)]="selectPrename">
            <md-option *ngFor="let pn of prename" [value]="pn.value">
              {{ pn.viewValue }}
            </md-option>
          </md-select><br/><br/>
          <md-input-container>
            <input type="text" mdInput placeholder="ชื่อ" name="firstname" required>
          </md-input-container>
          <md-input-container>
            <input type="text" mdInput placeholder="นามสกุล" name="lastname" required>
          </md-input-container>
          <md-input-container>
            <input type="text" mdInput placeholder="ตำแหน่ง" name="position_job" value="">
          </md-input-container>
          <div class="row">
            <div class="col-6">
              <md-input-container>
                <input type="text" maxlength="10" mdInput placeholder="เบอร์โทรศัพท์" name="mobile_phone" required>
              </md-input-container>
            </div>
            <div class="col-6">
              <md-input-container>
                <input type="email" mdInput placeholder="อีเมล์" name="email" value="" required>
              </md-input-container>
            </div>
          </div>
          <md-select placeholder="เลือกโรงเรียน" [(ngModel)]="selectSchool" [ngModelOptions]="{standalone: true}" [style.width]="'100%'">
            <md-option *ngFor="let school of schools" [value]="school.value">
              {{ school.viewValue }}
            </md-option>
          </md-select>
        </md-card-content>
        <br /><br />

        <div class="row">
          <div class="col-6">
            <button md-raised-button color="primary" style="width:100%"><i class="material-icons">person_add</i>    สร้างบัญชีผู้ใช้</button>
          </div>
          <div class="col-6">
            <button md-raised-button routerLink='../account-management' color="Secondary" style="width:100%"><i class="material-icons">cancel</i>   ยกเลิก</button>
          </div>
        </div>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>
</form>