<app-nav></app-nav>
<div class="container">
  <div class="row text-center">
    <div class="col-md-12 topic">
      <h2 align="center"> จัดการบัญชีผู้สมัครสอบ : <i class="material-icons">delete_forever</i> ลบบัญชีผู้ใช้</h2>
      <md-card class="example-card">
        <md-card class="card-1">
          <md-card-content>
            <label>Username :</label><br />
            <label>Password :</label><br />
            <label>ชื่อ - นามสกุล :</label><br />
            <label>ตำแหน่ง :</label><br />
            <label>เบอร์โทรศัพท์ :</label><br />
            <label>อีเมล์ :</label><br />
            <label>โรงเรียน :</label><br />
          </md-card-content>
        </md-card>
        <div class="row">
          <div class="col-lg-6">
            <button md-raised-button color="primary" style="width:100%"><i class="material-icons">delete_forever</i>    ลบบัญชีผู้ใช้</button>
          </div>
          <div class="col-lg-6">
            <button md-raised-button  color="Secondary" style="width:100%"><i class="material-icons">cancel</i>   ยกเลิก</button>
          </div>
        </div>
      </md-card>
    </div>
    <div class="col-md-12"></div>
  </div>
</div>