<app-nav></app-nav>
<div class="container">
    <div class="row topic">
        <div class="col-9">
            <span class="topic"><i class="material-icons" style="font-size: 48px;">people</i>  นักเรียนเข้าร่วมโครงการ</span>
        </div>
        <div class="col-lg-3" align="right">
            <button md-raised-button routerLink="/admin/add-exam-center" color="primary" style="width:auto"><i class="material-icons">save</i> บันทึกผลการสอบ</button>
        </div>
    </div>
    <hr>
    <div class="row download">
            <div class="col-md-6">
        <div class="button-row">
            <button md-button style="color:#e74c3c"><i class="material-icons">print</i>  พิมพ์</button>
            <button md-button style="color:#1abc9c"><i class="material-icons">insert_drive_file</i>  ดาวน์โหลด CSV</button>
        </div>
        </div>
        <div class="col-md-6" align="right" style="width:100%;">
            <md-select placeholder="เลือกสนามสอบ">
                <md-option *ngFor="let school of schools" [value]="school.value">
                    {{ school.viewValue }}
                </md-option>
            </md-select>
        </div>
    </div>
    <div class="example-container mat-elevation-z8">
        <md-table #table [dataSource]="dataSource">

            <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

            <!-- ID Column -->
            <ng-container mdColumnDef="ลำดับ">
                <md-header-cell *mdHeaderCellDef> ลำดับ </md-header-cell>
                <md-cell *mdCellDef="let row"> {{row.number}} </md-cell>
            </ng-container>

            <!-- Progress Column -->
            <ng-container mdColumnDef="ชื่อ">
                <md-header-cell *mdHeaderCellDef> ชื่อ </md-header-cell>
                <md-cell *mdCellDef="let row">{{row.firstname}} </md-cell>
            </ng-container>
            <!-- Name Column -->
            <ng-container mdColumnDef="นามสกุล">
                <md-header-cell *mdHeaderCellDef> นามสกุล </md-header-cell>
                <md-cell *mdCellDef="let row">{{row.lastname}} </md-cell>
            </ng-container>
            <ng-container mdColumnDef="เลขที่นั่งสอบ">
                <md-header-cell *mdHeaderCellDef> เลขที่นั่งสอบ </md-header-cell>
                <md-cell *mdCellDef="let row"> {{row.seatNumber}}</md-cell>
            </ng-container>
            <ng-container mdColumnDef="ห้องสอบ">
                <md-header-cell *mdHeaderCellDef> ห้องสอบ </md-header-cell>
                <md-cell *mdCellDef="let row"> {{row.room}}</md-cell>
            </ng-container>
            <ng-container mdColumnDef="อาคาร">
                <md-header-cell *mdHeaderCellDef> อาคาร </md-header-cell>
                <md-cell *mdCellDef="let row"> {{row.building}}</md-cell>
            </ng-container>
            <!-- Color Column -->
            <ng-container mdColumnDef="ผลสอบ">
                <md-header-cell *mdHeaderCellDef> ผลสอบ </md-header-cell>
                <md-cell *mdCellDef="let row">
                    <button md-icon-button (click)="viewUser(row.user_id)" [id]="row.user_id">
            <md-icon class="md-24" aria-label="">assessment</md-icon>
          </button>
                </md-cell>
            </ng-container>

            <md-header-row *mdHeaderRowDef="displayedColumns"></md-header-row>
            <md-row *mdRowDef="let row; columns: displayedColumns;"></md-row>
        </md-table>

        <md-paginator #paginator [length]="exampleDatabase.data.length" [pageIndex]="0" [pageSize]="25" [pageSizeOptions]="[5, 10, 25, 100]">
        </md-paginator>
    </div>
</div>