<app-nav></app-nav>
<div class="container">
    <div class="row topic">
      <div class="col-9">
        <div class="topic-page"> <i class="material-icons" style="font-size: 48px;">location_city </i></div>
        <div class="topic-page">ศูนย์สอบ : <label class="size-label"> ลบข้อมูลศูนย์สอบ</label></div>
      </div>
      <div class="col-3">
      </div>
    </div>
    <hr class="style-hr">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <br/>
          <md-card-content>
            <div class="row">
                <div class="col-4" align="right"><label class="style-label">ชื่อโรงเรียน </label></div>
                <div class="col-2" ><label>:</label></div>
                <div class="col-6" align="left"><span></span></div>
              </div>
              <div class="row">
                  <div class="col-4" align="right"><label class="style-label">ที่อยู่ </label></div>
                  <div class="col-2" ><label>:</label></div>
                  <div class="col-6" align="left"><span></span></div>
                </div>
                <div class="row">
                    <div class="col-4" align="right"><label class="style-label">อำเภอ </label></div>
                    <div class="col-2" ><label>:</label></div>
                    <div class="col-6" align="left"><span></span></div>
                  </div>
                  <div class="row">
                      <div class="col-4" align="right"><label class="style-label">จังหวัด </label></div>
                      <div class="col-2" ><label>:</label></div>
                      <div class="col-6" align="left"><span></span></div>
                    </div>
                    <div class="row">
                        <div class="col-4" align="right"><label class="style-label">รหัสไปรษณีย์ </label></div>
                        <div class="col-2" ><label>:</label></div>
                        <div class="col-6" align="left"><span></span></div>
                      </div>
          </md-card-content>
          <br />
          <div class="row">
              <div class="col-md-6">
                <button routerLink='' md-raised-button color="primary" style="width:100%"><i class="material-icons">delete_forever</i>    ยืนยัน</button>
              </div>
              <div class="col-md-6">
                <button routerLink='../../exam-center' md-raised-button  color="Secondary" style="width:100%"><i class="material-icons">cancel</i>   ยกเลิก</button>
              </div>
            </div>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>
