<app-nav></app-nav>
<form>
    <div class="container">
        <div class="row topic">
            <div class="col-9">
                <div class="topic-page"><i class="material-icons" style="font-size: 48px;">store </i></div>
                <div class="topic-page">ห้องสอบ : <label class="size-label"> ข้อมูลห้องสอบ</label></div>
            </div>
            <div class="col-lg-3">
            </div>
        </div>
        <hr class="style-hr">
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <br />
                <md-card-content>
                    <div class="row">
                        <div class="col-4" align="right"><label class="style-label">ชื่ออาคาร </label></div>
                        <div class="col-2"><label>:</label></div>
                        <div class="col-6"><span>{{ myBuildingName }}</span></div>
                    </div>
                    <div class="row">
                        <div class="col-4" align="right"><label class="style-label">ชื่อห้องสอบ </label></div>
                        <div class="col-2"><label>:</label></div>
                        <div class="col-6"><span>{{ myRoomName }}</span></div>
                    </div>
                    <div class="row">
                        <div class="col-4" align="right"><label class="style-label">จำนวนที่นั่งสอบ </label></div>
                        <div class="col-2"><label>:</label></div>
                        <div class="col-6"><span>{{ myCapacity }}</span></div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-12">
                            <button md-raised-button routerLink='../../room' color="primary" style="width:100%"><i class="material-icons"><i class="material-icons">arrow_back</i></i>    กลับ</button>
                        </div>
                    </div>
                </md-card-content>
            </div>
            <div class="col-lg-3"></div>
        </div>
    </div>
</form>