<app-nav></app-nav>
<form>
  <div class="container">
    <div class="row topic">
      <div class="col-9">
        <div class="topic-page"><i class="material-icons" style="font-size: 48px;">store </i></div>
        <div class="topic-page">ห้องสอบ : <label class="size-label"> เพิ่มห้องสอบ</label></div>
      </div>
      <div class="col-3">
      </div>
    </div>
    <hr class="style-hr">
    <form (submit)="createExamRoom($event)">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <md-card-content>
            <md-select placeholder="เลือกอาคารสอบ" [(ngModel)]="selectSchool" [ngModelOptions]="{standalone: true}" [style.width]="'100%'">
              <md-option *ngFor="let building of buildingData" [value]="building.building_id">
                {{ building.building_name }}
              </md-option>
            </md-select>
            <br /><br />
            <md-input-container>
              <input type="text" mdInput placeholder="ชื่อห้องสอบ" name="exam_room_name" required>
            </md-input-container>
            <md-input-container>
              <input type="text" mdInput placeholder="รองรับที่นั่งสอบจำนวน" name="exam_room_capacity" required>
            </md-input-container>
            <br />
            <md-select placeholder="เลือกกรรมการคุมสอบคนที่ 1" [(ngModel)]="selectSchool" [ngModelOptions]="{standalone: true}" [style.width]="'100%'">
              <md-option *ngFor="let com1 of committee1" [value]="com1.value">
                {{ com1.viewValue }}
              </md-option>
            </md-select>
            <br /><br />
            <md-select placeholder="เลือกกรรมการคุมสอบคนที่ " [(ngModel)]="selectSchool" [ngModelOptions]="{standalone: true}" [style.width]="'100%'">
                <md-option *ngFor="let com2 of committee2" [value]="com2.value">
                  {{ com2.viewValue }}
                </md-option>
              </md-select>
              <br />
          </md-card-content>
          <br />
          <br />
          <div class="row">
            <div class="col-6">
              <button md-raised-button color="primary" style="width:100%"><i class="material-icons">add</i>    บันทึก</button>
            </div>
            <div class="col-6">
              <button md-raised-button routerLink='../room' color="Secondary" style="width:100%"><i class="material-icons">cancel</i>   ยกเลิก</button>
            </div>
          </div>
        </div>
        <div class="col-md-3"></div>
      </div>
    </form>
  </div>
</form>