/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@font-face {
    font-family: SATIT;
    src: url('./assets/fonts/sukhumvit-set/SukhumvitSet-Text.ttf');
}
body{
    font-family: SATIT;
    padding: 0px;
    margin: 0px;
}
span{
    font-family: SATIT;
}