<app-nav></app-nav>
<div class="container">
    <div class="row text-center">
      <div class="col-md-12 topic">
          <h2 align="center"> จัดการบัญชีผู้สมัครสอบ : <i class="material-icons">person</i> ข้อมูลผู้ใช้</h2>
        <md-card class="example-card">
          <md-card class="card-1">
            <md-card-content>
              <label>Username :</label> {{ userData.username }}<br />
              <label>ชื่อ - นามสกุล :</label> {{ userData.prename }}{{ userData.firstname }}  {{ userData.lastname }}<br />
              <label>ตำแหน่ง :</label>{{ userData.position }}<br />
              <label>เบอร์โทรศัพท์ :</label> {{ userData.phone }}<br />
              <label>อีเมล์ :</label> {{ userData.email }}<br />
              <label>โรงเรียน :</label> {{ userData.schoolname }}<br />
            </md-card-content>
          </md-card>
          <div class="row">
              <div class="col-lg-12">
                <button md-raised-button color="primary" style="width:100%"><i class="material-icons"><i class="material-icons">arrow_back</i></i>    กลับ</button>
              </div>
            </div>
        </md-card>
      </div>
      <div class="col-md-12"></div>
    </div>
  </div>